body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  color: darkblue;
}

button {
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

button:hover {
  background-color: darkcyan;
}

/* Dark mode theme */
.dark-mode {
  background-color: #222;
  color: white;
}

.faq-answer {
  display: none;
  color: darkgreen;
}
